  #inspire {
    background-image: url(https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  }

  .fab-container {
    position: fixed;
    bottom: 10;
    right: 0;
  }

  #breadcrumb {
    background-color: inherit;
    color: white;
  }